header{
    position:  relative;
    display: flex;
    justify-content: end;
    margin-top: 120px;
    align-items: end;
}

.image{
    width: 919px;
    height: 200px;   
}
.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 70%;
}
header h2{
    position: absolute;
    left: 0;
    color: #FDA3C4;
    font-family: 'Sunday Best [rus by aLiNcE]';
    font-size: 54px;
    font-style: normal;
    font-weight: 400;
}
header span{
    position: absolute;
    color: #1F1F1F;
    font-family: 'Montserrat';
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}