.runline {
  margin-top: 160px;
  max-width: 100%;
  overflow: hidden;
  div {
    display: flex;
    width: 100%;
    animation: runline 5s linear infinite;
  }
  img {
    white-space: nowrap;
    // width: 100%;
  }
}

@keyframes runline {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 650px) {
  .runline {
    margin-top: 0;
  }
}
