@media screen and(max-width: 820px) {
    .logo{
        margin: auto;

    }
}
.logo{
    margin: auto;

}
@media screen and(max-width: 420px) {
    .logo svg{
        width: 79px;
        height: 26px;


} }