.clothes{
    margin-top: 130px;
    border-bottom: 1px solid  #909090;
    padding: 14px 90px;
}
.clothes ul li{
    color: #1F1F1F;
    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
.clothes ul li:hover{
    color: #FDA3C4;
    font-family: 'Montserrat';
    font-style: italic;
    font-size: 16px;
    font-weight: 400;
}