footer {
  background: #fda3c4;
  width: 100%;
  padding: 60px 150px;
}
.info ul {
  flex-direction: column;
  color: #fff;
  font-family: "Montserrat";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  h2{
    margin-bottom: 14px;
    color: #F40000;
    font-family: 'Sunday Best [rus by aLiNcE]';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.2px;
  }
  li{
    list-style-type: none;
    margin-bottom: 10px;
  }
}

.adress {
  display: flex;
  flex-direction: column;
}
.adress span {
  color: #fff;
  font-family: "Montserrat";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 10px;
}
.adress h2 {
    margin-bottom: 14px;
  color: #f40000;
  font-family: "Sunday Best [rus by aLiNcE]";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}
.social h2 {
    margin-bottom: 20px;
  color: #f40000;
  font-family: "Sunday Best [rus by aLiNcE]";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}
.social img{
    margin: 0 15px 0 0;
}
.title span {
  color: #fff;
  font-family: "Montserrat";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}

.title h2 {
  color: #f40000;
  font-family: "Sunday Best [rus by aLiNcE]";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  border-bottom: 1px solid #f40000;
  margin-top: 19px;
}
.profile__photo {
  width: 51px;
  height: 51px;
  border-radius: 50px;
  overflow: hidden;
}
.profile__photo img{
    width: 100%;
    height: 100%;

}
.items{
    display: flex;
    justify-content: space-between;
}

.about__us{
    display: flex;
    column-gap: 30px;
}
.social2{
  display: none;
}
@media screen and (max-width: 1200px) {
.logo{
  display: none;
}
.about__us{
  column-gap: 10px;
}
footer{
  padding: 40px 80px;
}
}
@media screen and (max-width: 1000px) {
   .social{
    display: none;
   }
   .social2{
    display: flex;
    column-gap: 15px;
   }
}
@media screen and (max-width: 760px) {
  .about__us{
    flex-direction: column;
  }
}
@media screen and (max-width: 760px) {
  footer{
    padding: 20px 60px;
  }
}
@media screen and (max-width: 560px) {
  .items{
    flex-direction: column;
  }
  .info{
    margin-bottom: 20px;
  }
  .adress{
    margin-bottom: 20px;
  }
}