.cards{
    display: flex;
    flex-wrap: wrap;
    max-width: 919px;
    gap: 72px;
}
.products{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
.first .card{
    width: 466px;
    height: 600px;

}