.searchs{
    display: flex;
    align-items: center;
}
span{
    color: #1F1F1F;
    font-family: 'Montserrat';
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    
}
.search__icon{
    margin-right: 16px;
}