.news{
    margin-top: 60px;
    margin-bottom: 26px;
}
.cards{
    display: flex;
    justify-content: center;
    align-items: end;
    column-gap: 15px;
    width: 100%;
    padding: 0 32px;
   

}
// .title span{
//     color: #FDA3C4;
//     font-family: 'Sunday Best [rus by aLiNcE]';
//     font-size: 54px;
//     font-style: normal;
//     font-weight: 400;
//     text-transform: uppercase;      
// }
// .subtitle span{
//     color: #1F1F1F;
//     font-family: 'Montserrat';
//     font-size: 25px;
//     font-style: normal;
//     font-weight: 600;
//     text-transform: uppercase;
// }
// .subtitle{
//     display: flex;
//     column-gap: 17px;
//     position: relative;
//     top: 70px;
// }

// .title{
//     position: absolute;
// }

// @media screen and(max-width: 834px) {
//     #last{
//         display: none;
//     }
// }
// @media screen and(max-width: 1300px) {

//     .last{
//        width: 100%;
//        height: auto;
//     }
// }