.news {
  margin-top: 60px;
  margin-bottom: 26px;
}
.cards {
  display: flex;
  justify-content: center;
  align-items: end;
  column-gap: 20px;
  width: 100%;
  height: auto;
  padding: 0 32px;
}
@media screen and(max-width: 1200px) {
  .cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 950px;
    margin: auto;
    gap: 72px;
    align-items: end;
    column-gap: 20px;
    width: 100%;
    height:  auto;
    padding: 0 32px;
  }
}
// // @media screen and(max-width: 600px) {
// //   .cards {
// // display: inline-block;
// //   }
// // }
