.Nav{
  padding: 10px 0 15px;
  position: fixed;
  top: 0;
  z-index: 2;
  border-bottom: 1px solid #fda3c4;
  width: 100%;
  background: #fff;
}

.favourites {
  display: flex;
  align-items: center;
  column-gap: 32px;
  // margin-left: 102px;
}
.contacts {
  display: flex;
  justify-content: space-between;
}
@media screen and(max-width: 720px) {
  .favourites{
    display: none;
  }
}