.Nav{
  padding-top: 10px;
  position: fixed;
  top: 0;
  z-index: 2;
  // border-bottom: 1px solid #fda3c4;
  width: 100%;
  background: #fff;
}

.favourites {
  display: flex;
  align-items: center;
  column-gap: 32px;
  // margin-left: 102px;
}
.contacts {
  display: flex;
  justify-content: space-between;
}
@media screen and(max-width: 750px) {
  .favourites{
    display: none;
  }
  .Nav{
    padding-bottom: 10px;
      border-bottom: 1px solid #fda3c4;
  }

}
.navigation{
  z-index: 2;
  display: none;
  border-top: 1px solid #fda3c4;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #fff;
  padding: 10px 20px;
  .images{
    display: flex;
    justify-content: space-between;
  }
}
.icon{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon img{
  margin-bottom: 5px;
}
@media screen and(max-width: 500px) {
  .navigation{
    display: block;
  }
  }
